{% extends 'music/base.html' %}
{% block albums_active %}active{% endblock %}

{% block body %}
	<div class="albums-container container-fluid">

	    <!-- Albums -->
	    <div class="row">
	            {% for album in albums %}
	                <div class="col-sm-4 col-lg-2">
	                    <div class="thumbnail">
	                        <a href="{% url 'music:detail' album.id %}">
	                            <img src="{{ album.album_logo.url }}" class="img-responsive">
	                        </a>
	                        <div class="caption">
	                            <h2>{{ album.album_title }}</h2>
	                            <h4>{{ album.artist }}</h4>

	                            <!-- View Details -->
	                            <a href="{% url 'music:detail' album.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

	                            <!-- Delete Album -->
	                            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline;">
	                                {% csrf_token %}
	                                <input type="hidden" name="album_id" value="{{ album.id }}" />
	                                <button type="submit" class="btn btn-default btn-sm">
	                                    <span class="glyphicon glyphicon-trash"></span>
	                                </button>
	                            </form>

	                            <!-- Favorite Album -->
	                            <a href="{% url 'music:favorite_album' album.id %}" class="btn btn-default btn-sm btn-favorite" role="button">
	                                <span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span>
	                            </a>

	                        </div>
	                    </div>
	                </div>
	                {% cycle '' '' '' '' '' '<div class="clearfix visible-lg"></div>' %}
	            {% endfor %}
	        {% else %}
	            <div class="col-sm-12">
	                <br>
	                <a href="{% url 'music:create_album' %}">
	                    <button type="button" class="btn btn-success">
	                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an Album
	                    </button>
	                </a>
	            </div>
	        {% endif %}
	    </div>
	</div>
{% block body %}

<!--
{% extends 'music/base.html' %}
{% block body %}
		<ul>
			{% for album in object_list  %}
				<li>				
					<a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
				</li>
			{% endfor %}
		</ul>
{% endblock %}

{% extends 'music/base.html' %}
	{% block body %}
	{% if all_album %}
			<h3>Here are all album</h3>
		<ul>
			{% for album in all_album %}
				<li>
					
					<a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
				</li>
			{% endfor %}
		</ul>

		{% else %}
			<h3> You don't have any album</h3>
	{% endif %}
{% endblock %}
-->
<!-- loads the path to your static files 

{% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


<link rel="stylesheet" type="text/css" href="https://www.fonts.googleapis.com/css/?family=Satisfy'"/>


<link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}" />

<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
	<div class="container-fluid">

		header to jump home page //

		<div class="navbar-header">
			<button type = "button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>

			</button>
			<a class ="navbar-brand"href="{% url 'music:index' %}">TheTransporter</a>	
		</div>
		 
//		  items icons 
		 <div class="collapse navbar-collapse" id="#topNavBar">
		 	<ul class="nav navbar-nav">
		 		<li class="">
		 			<a href="{% url 'music:index'}">
		 				<span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; Albums
		 			</a>
		 		</li>
		 		<li class="">
		 			<a href="{% url 'music:index'%}">
		 				<span class="glyphicon glyphicon-music" aria-hidden="true"></span>&nbsp; Songs
		 			</a>
		 		</li>
		 	</ul>

		 	<form class="navbar-form navbar-left" role="search" method="get " action="#">
		 		<div class="form-group">
		 			<input type="text" class="form-control" name="q" value="">	
		 		</div>
		 		<button type="submit" class="btn btn-default"> Search </button>
		 	</form>
		 	<ul class="nav navbar-nav navbar-right">
		 		<li class="">
					<a href="#">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Add Album
					</a>		 			
		 		</li>
		 		<li class="">
					<a href="#">
						<span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
					</a>		 			
		 		</li>		
		 	</ul>
		 </div>
	</div>
</nav>


{% extends 'music/base.html'%}

{% block body %}

	{% if all_album %}
		<h3>Here are all album</h3>
	<ul>
		{% for album in all_album %}
		<li>
			
			<a href="{% url 'music:detail' album.id %}">{{ album.album_title }}</a>
		</li>
		{% endfor %}
	</ul>

	{% else %}
		<h3> You don't have any album</h3>
	{% endif %}

{% endblock %}

-->
<!-- below code not showing album red blue

	example of static url
		<a href="/music/{{album.id}}/">{{ album.album_title }}</a>



<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


{% if all_album %}
	<h3>Here are all album</h3>
<ul>
	{% for album in all_album %}
	<li>
		<a href="/music/{{album.id}}/">{{ album.album_title }}</a>
	</li>
	{% endfor %}
</ul>

{% else %}
	<h3> You don't have any album</h3>
{% endif %}

</body>
</html>

-->