
body{
	
	background : white url("images/Shruti_Haasan.jpg");
}

br {
   display: block;
   margin: 10px 0;
}
.navbar{
	border = radius :0;
}
.navbar-brand{
	font-family: cursive;
}

.small{
	color: grey
}

.p{
	color: red;
}