{% extends 'Inc/base.html' %}


{% block body %}

		<div>
			{% if messages %}
			<ul class="messages">
				{% for k in messages %}
				<li style="color : red ">{{ k }}</li>
				{% endfor %}		
			</ul>
			{% endif %}
		</div><br>

		<div style="color: blue">
			{% if sr %}

				{% for k in sr %}
				<table border="0px" width="300px">
					<tr>
						<td>Username</td>
						<td>{{ k.username }}</td>
					</tr>
					<tr>
						<td>First_name</td>
						<td>{{ k.first_name }}</td>
					</tr>
					<tr>
						<td>Last_name</td>
						<td>{{ k.last_name }}</td>
					</tr>
					<tr>
						<td>Email</td>
						<td>{{ k.email }}</td>
					</tr>
				</table>
				<br>
				<br>
				{% endfor %}

			{% endif %}	
		</div>

{% endblock %}